@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');

/* CSS VARIABLES*/
:root {
  --color-primary: #2ebf91;
  --color-secondary: #8360c3;
  --color-white: #fefefe;
  --color-black: #424242;
  --color-light-gray: #a4a4a4;

  --font-size-small: 1.2rem;
  --font-size-regular: 1.6rem;
  --font-size-large: 2rem;

  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-bold: 700;

  --line-height-small: 1.2;
  --line-height-regular: 1.5;
  --line-height-large: 2;

  --letter-spacing-small: 0.1em;
  --letter-spacing-regular: 0.15em;
  --letter-spacing-large: 0.2em;
}

/* -------- SIMPLE RESET ------------- */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  list-style: none;
  border: none;
  text-decoration: none;
  background-color: transparent;
  font-family: 'Lato', Helvetica, Arial, Verdana, Tahoma;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

html {
  /* This define what 1rem is */
  /* 10px/16pc = 62,5% --> 1rem = 10px; */
  font-size: 62.5%;
  height: 100%;
  width: 100%;
}

body {
  background: linear-gradient(to right, #8360c3, #2ebf91);
  background: #efefef;

  font-weight: var(--font-weight-regular);
  color: var(--color-black);
  font-size: var(--font-size-small);
}

button,
a:link,
a:visited,
a:hover,
a:active {
  cursor: pointer;
  color: var(--color-black);
  font-size: var(--font-size-regular);
}
a:hover,
a:active {
  color: var(--color-primary);
}

h1,
h2,
h3,
h4,
h5 {
  font-size: var(--font-size-large);
  font-weight: var(--font-weight-light);
  line-height: var(--line-height-regular);
  letter-spacing: var(--letter-spacing-regular);
  color: var(--color-black);
}
h4 {
  color: var(--color-primary);
}

p {
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-light);
  line-height: var(--line-height-regular);
  letter-spacing: var(--letter-spacing-regular);
  color: var(--color-black);
}

.btn {
  font-size: large;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
  background-color: var(--color-primary);
  color: var(--color-white);
  transition: background-color 0.3s;
  padding: 1rem 2.4rem;
  max-height: 5rem;
  align-self: end;
}
.btn:hover,
.btn:focus {
  background-color: #29ab82;
}

.btn__nav {
  color: var(--color-black);
}

.btn__nav:hover {
  color: var(--color-primary);
}
.nav {
  background-color: white;
  display: grid;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  justify-items: end;
}

.nav__items {
  display: grid;
  padding: 0 5rem;
  grid-template-columns: repeat(4, max-content);
  gap: 1rem;
  min-height: 5rem;
  align-items: center;
  justify-items: end;
}
.nav__items--mod {
  grid-template-columns: repeat(5, max-content);
}
.nav__items--admin {
  grid-template-columns: repeat(2, max-content);
}
.main {
  padding: 5% 5%;
}
.main__login,
.main__admin {
  min-height: calc(100vh -5rem);
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
}
.main__admin {
  grid-template-columns: 1fr;
}
.card {
  background-color: white;
  border-radius: 10px;
  width: 35rem;
  min-height: 40rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.form {
  display: grid;
  grid-gap: 1.5rem;
  padding: 3rem;
  height: 100%;
}

legend {
  font-size: 4rem;
  color: #8360c3;
}

label,
input {
  font-size: var(--font-size-regular);
  color: var(--color-primary);
}
input {
  border-bottom: 1px solid gray;
  color: var(--color-black);
}
input::placeholder {
  color: var(--color-light-gray);
  font-weight: 100;
}
.input-field {
  display: grid;
  gap: 1rem;
  padding: 1rem 0;
}

input:focus {
  border-bottom: 2px solid var(--color-primary);
}

.products__container {
  display: grid;
  align-content: center;
  justify-content: center;
  grid-template-columns: max-content max-content;
  gap: 1rem;
}
.product__container {
  display: grid;
  grid-template-columns: 35rem 25rem;
  background-color: #fff;
}

figure {
  height: 100%;
  width: 100%;
}
img {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hidden .product__container section > .btnHide {
  display: none;
}
.admin .product__container section > .btnAddHide {
  display: none;
}
.product__container section {
  padding: 5%;
  display: grid;
  gap: 1rem;
}

.product__price {
  font-size: 20px;
}
.product__category {
  color: var(--color-primary);
  font-weight: 400;
  font-size: 14px;
}

.product__article {
  margin-bottom: 2rem;
}
.maleCat > .male,
.femaleCat > .female {
  display: none;
}

.svg {
  width: 100px;
  height: auto;
}

.main__basket {
  display: grid;
  align-items: center;
  justify-content: center;
}

.card__basket {
  padding: 2rem;
  display: grid;
  align-items: center;
  justify-items: center;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.nav__item button span,
.card__basket p {
  color: var(--color-primary);
}

.card__basket p {
  font-size: var(--font-size-large);
}

.btn-cat {
  color: var(--color-primary);
  font-size: 14px;
  padding: 1rem 2rem;
}

.btn-cat:hover {
  background: #fefefe;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  background-color: rgba(255, 255, 255, 0.6);
  transition: 0.2s ease-out;
}
.btns__container {
  margin: 2rem 0;
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(3, max-content);
}
.product__article h2 {
  margin-left: 2rem;
}
